<div class="container">
  <h1 class="title-lg mb">МРТ</h1>

  <% @tamplates.each do |tamplate| %>
    <p class="mb-sm"><%= link_to "#{tamplate.name}", tamplate_path(tamplate.id) %></p>
  <% end %>

  <p class="mt">
    <%= link_to "Новый шаблон", new_tamplate_path, class: 'button button-main' %>
  </p>
</div>
