body {
  background: #87CEEB;
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 1600px;
  margin: 40px;
  width: 100%;

}

.container {
  background: #fff;
  padding: 20px;
  padding-top: 10px:
  padding-botton: 10px:
}


table {
  width: 100%; /* Ширина таблицы */
  background: #000000; /* Цвет фона таблицы */
  color: #000000; /* Цвет текста */
  border-spacing: 1px; /* Расстояние между ячейками */
}


td, th {
  background: #AFEEEE; /* Цвет фона ячеек */
  padding: 5px; /* Поля вокруг текста */
  text-align: center;
}
